[user]
	name = Scott Morley
	email = scott.morley@insidesales.com
[branch]
	autosetupmerge = true
[alias]
	cd = checkout develop
	po = push origin
[core]
	excludesfile = /Users/scott.morley/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
